  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Oswald:wght@300&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: #574143;
  }

  /*Generic Styles*/
  body {
    background: #005B4C;
    min-height: 100vh;
    font-family: "DM+Sans", sans-serif;

  }

  /*Header*/

  .header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10%;
    padding-bottom: 20px;
    width: 100%;
    background: #FFEACE;
    display: flex;
    z-index: 99;
    align-items: baseline;
    justify-content: space-between;
    text-decoration: none;

  }

  .logo {
    font-size: 25px;
    color: #574143;
    font-weight: 550;
    text-decoration: none;
  }

  /*Navbar*/

  .navbar a {
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 1em;
    text-decoration: none;
    color: #574143;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    transition: .3s ease;

  }

  .navbar a:hover {
    color: #D43C3C;
  }

  /* Navbar styles with dropdown toggle */

  nav {
    position: absolute;
    background-color: #FFEACE;
    width: 100%;
    left: 1px;
    padding: 0 1rem;
    display: none;
    top: 100%;
    box-shadow: 0 3px 3px #574143;
  }

  /* Nav toggle */
  #nav-toggle:checked~nav {
    display: block;
  }

  #nav-toggle {
    display: none;
  }

  .nav-toggle-label {
    font-size: 2rem;

  }

  /*Main Content*/

  main {

    margin-top: 65px;
    color: #FFEACE;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    background: url(../assets/images/E54975E2-EFDE-442C-B774-74611381C8B5.JPG) no-repeat center center/cover;
  }

  .home-content {

    font-size: 100%;
    font-weight: 600;
    background-color: rgba(39, 94, 71, 0.747);
    border-radius: 30px 30px;
    padding: 10px;
    padding-top: 10px;
    margin-top: 30px;

  }

  .home-content h2 {
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
  }

  .home-content p {
    font-size: 15px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    line-height: 20px;
  }

  /*About*/

  .about-main {
    width: 100%;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .about-main img {
    height: auto;
    width: 300px;
    border-radius: 30px/ 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }


  .about-text h2 {
    color: #FFEACE;
    font-size: 30px;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  .about-text p {
    width: 100%;
    color: #FFEACE;
    font-size: 15px;
    margin-bottom: 40px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 28px;
    padding-left: 20px;
    margin-bottom: 30px;
  }

  /* Services */

  .services {
    background: #FFEACE;
    color: #574143;
    margin-bottom: 30px;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    align-items: baseline;
    gap: 2rem;
    transition: .3s ease;
  }


  .services a:hover {
    color: #D43C3C;
  }

  .services h3 {
    font-size: 25px;

  }

  .services p {
    font-size: 15px;
    padding-left: 25px;
    padding-top: 10px;
  }

  /* Help Page */

  #help {
    background: #FFEACE;
    color: #574143;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 28px;
    border-radius: 30px 30px;
    margin-top: 40px;
    padding: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 10px #FFEACE;
  }

  .container {
    background: #FFEACE;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 28px;
    border-radius: 30px 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    box-shadow: 0 0 10px #FFEACE;
    margin-bottom: 20px;
  }


  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    align-items: baseline;
    gap: 1rem;
  }

  label {
    color: #574143;
    font-size: 15px;
  }

  textarea:focus,
  input:focus {
    outline: none;
    border-color: #D43C3C;
  }

  textarea,
  input {
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    margin-top: 5px;
  }

  button {
    border: #D43C3C;
    padding: 10px 20px;
    background: rgba(39, 94, 71, 0.700);
    border-radius: 30px 30px;
    color: #FFEACE;
    font-size: 15px;
    margin-top: 20px;
  }

  /* DIY */

  .diy {
    background: #FFEACE;
    color: #574143;
    font-size: 15px;
    text-align: justify;
    border-radius: 30px 30px;
    margin-top: 40px;
    padding: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 10px #FFEACE;
  }


  section.diy .video h3 {
    color: #574143;
    letter-spacing: 1px;
    line-height: 28px;
    padding-top: 40px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 15px;
  }

  section.diy .video p {
    color: #574143;
    width: 100%;
    color: #574143;
    font-size: 15px;
    margin-bottom: 40px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 28px;
    padding-left: 20px;
    margin-bottom: 30px;
  }

  .video iframe {
    margin-left: 6px;
  }

  /* Chronicles */

  .chronicles {
    background: #FFEACE;
    color: #574143;
    font-size: 15px;
    line-height: 28px;
    text-align: justify;
    border-radius: 30px 30px;
    margin-top: 40px;
    padding: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 10px #FFEACE;
    display: flex;
    flex-direction: column;

  }

  .chronicles img {

    padding-top: 20px; 
    width: 200px;
    padding-left: 50px;
  
  }

  /* Plant Index */
  .plant-index {
    background: #FFEACE;
    color: #574143;
    font-size: 15px;
    line-height: 28px;
    text-align: justify;
    border-radius: 30px 30px;
    margin-top: 40px;
    padding: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    box-shadow: 0 0 10px #FFEACE;
    display: flex;
    flex-direction: column;}

    .plant-index img {
      padding-top: 20px; 
      padding-bottom: 20px;
      width: 200px;
      padding-left: 40px;

    }

  /* Footer */

  footer {
    height: 100px;
    z-index: 100;
  }

  #social-networks {

    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;

  }

  #social-networks i {
    font-size: 300%;
    padding: 15%;
    color: #FFEACE;
    transition: .3s ease;

  }

  #social-networks i:hover {
    color: #D43C3C;
  }

  .button {
    margin-left: 11rem;
  }


  /* Media Query: tablets and larger (768 px and up)*/
  @media screen and (min-width: 768px) {

    .header {
      position: fixed;
      top: 0;
      left: 0;
      padding: 20px 10%;
      padding-bottom: 10px;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      align-content: baseline;
    }

    .logo {
      font-size: 25px;
      font-weight: 550;

    }

    nav {
      display: flex;
      justify-content: space-evenly;

    }

    .nav-toggle-label {
      display: none;
    }


    .about-main {
      width: 100%;
      max-width: 95%;
      display: flex;
      align-items: center;
      justify-content: center;
    }


      .diy {
        text-align: justify;
        letter-spacing: 1px;
        line-height: 28px;
        padding-left: 20px;
        margin-bottom: 30px;
      }

      section.diy .video h3 {
        font-size: 20px;
      }

      section.diy .video p {
        font-size: 20px;
      }

      .video iframe {
        width: 500px;
        height: 281px;
      }

      /* Chronicles */

      .chronicles {
        
        font-size: 20px;
        border-radius: 30px 30px;
        margin-top: 40px;
        padding: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
      }
      

    .chronicles img {
      width: 500px;
      border-radius: 30px/ 30px;
      padding-top: 20px;
      padding-bottom: 40px;
      
    }
 /* Plant Index */
 .plant-index {
  display: flex;
 }

    .plant-index img {
      padding-top: 20px; 
      padding-bottom: 20px;
      width: 500px;
      padding-left: 40px;

    }
    .footer {
      height: fit-content;
    }
  }


  /* Large devices (laptops and desktops, 992px and up) */
  @media screen and (min-width: 992px) {

    .header {
      position: fixed;
      top: 0;
      left: 0;
      padding: 20px 10%;
      padding-bottom: 10px;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      align-content: baseline;
    }

    .logo {
      font-size: 25px;
      font-weight: 550;

    }

    .navbar a {
      font-weight: 600;
      margin-left: 15px;
      display: block;
      position: relative;
      justify-content: space-between;
      width: fit-content;
    }

    .nav-toggle-label {
      display: none;
    }

    main {

      margin-top: 47px;
      margin-bottom: 50px;
      align-items: center;
      height: 30vh;
      padding: 0 10%;
      padding-bottom: 3px;
    }

    .home-content {

      font-size: 80%;
      width: 100%;
      padding: 10px;
      align-items: center;
    }


    .home-content h2 {
      font-size: 30px;
      margin-top: 20px;
    }

    .home-content p {
      font-size: 15px;
      margin-bottom: 30px;

    }

    .about-main img {
      height: auto;
      width: 300px;
      border-radius: 30px/ 30px;
      padding-bottom: 30px;
    }

    .about-main {

      display: flex;
      flex-direction: row;
    }

    .about-text {
      width: 500px;
    }

    .about-text h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }

    .about-text p {
      width: 100%;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 40px;
      text-align: justify;
      letter-spacing: 1px;
      line-height: 28px;
    }

    .button {
      margin-left: 11rem;
    }

    .services {
      display: flex;
      justify-content: space-evenly;
      margin-top: 30px;
      margin-bottom: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .services ul {
      font-size: 15px;
      padding-left: 25px;
      padding-top: 10px;
    }


    #social-networks {

      padding: 10px 0;
      display: flex;
      justify-content: space-around;
      list-style-type: none;

    }

    #social-networks i {
      font-size: 300%;
      padding: 15%;

    }

  }

  @media screen and (min-width: 1200px) {
    .home-content {

      margin-top: 100px;

    }

    #social-networks {

      padding: 10px 0;

    }

    #social-networks i {
      font-size: 300%;
      padding: 15%;

    }

  }