  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Oswald:wght@300&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "DM+Sans", sans-serif;
  }

  body {
    background: #005B4C;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10%;
    width: 100%;
    background:#F0F4CD ;
    display: flex;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {font-size: 25px;
    color: #464838 ;
    font-weight: 550;
    text-decoration: none;
  }

  .navbar a {
font-size: 10;
font-weight: 400;
margin-left: 15px;
text-decoration: none;
color: #464838 ;
  }