  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Oswald:wght@300&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

  /*Generic Styles*/
  body {
    background: #005B4C;
    min-height: 100vh;
    font-family: "DM+Sans", sans-serif;
  }

  /*Header*/

  .header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10%;
    padding-bottom: 10px;
    width: 100%;
    background: #FFEACE;
    display: flex;
    z-index: 99;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 25px;
    color: #574143;
    font-weight: 550;
    text-decoration: none;
  }

  /*Navbar*/

  .navbar a {
    font-size: 10;
    font-weight: 600;
    margin-left: 15px;
    text-decoration: none;
    color: #574143;
    transition: .3s ease;
    display: flex;
    flex-direction: column;
  }

  .navbar a:hover {
    color: #D43C3C;
  }

  /* Navbar styles with dropdown toggle */

  nav {
    position: absolute;
    background-color: #FFEACE;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    transition: .5s ease;
  }

  /* Nav toggle */
  #nav-toggle:checked~nav {
    display: block;
  }

  #nav-toggle {
    display: none;
  }

  .nav-toggle-label {
    font-size: 2rem;
  }


  /*Main Content*/

  main {

    margin-top: 47px;
    color: #FFEACE;
    align-items: center;
    height: 30vh;
    padding: 0 10%;
    padding-bottom: 3px;
    background: url(../assets/images/E54975E2-EFDE-442C-B774-74611381C8B5.JPG) no-repeat center center;

  }

  .home-content {

  font-size: 80%;
    width: 100%;
    background-color: rgba(39, 94, 71, 0.747);
    border-radius: 30px 40px;
    padding: 10px;


  }

  .home-content h1 {
    font-size: 40px;
    margin-top: 20px;
  }

  .home-content p {
    font-size: 20px;
    margin-bottom: 30px;
  }

  /*About*/

  .about {
    width: 100%;
    padding: 100px;
    padding-bottom: 30px;
  }

  .about-main img {
    height: auto;
    width: 300px;
    border-radius: 30px/ 30px;
    padding-bottom: 30px;
  }

  .about-text {
    width: 500px;
  }

  .about-main {
    width: 100%;
    max-width: 95%;
    margin: 10 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .about-text h2 {
    color: #FFEACE;
    font-size: 40px;
    margin-bottom: 20px;
  }

  .about-text p {
    width: 100%;
    color: #FFEACE;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 28px;
  }

  /* Button */

  .button {
    background: #FFEACE;
    padding: 10px 26px;
    border-radius: 40px;
    box-shadow: 0 0 10px #FFEACE;
    font-size: 15px;
    color: #574143;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .3s ease;

  }

  .button:hover {
    color: #D43C3C;
  }



  /* Services */

  .container {
    display: flex;
    justify-content: space-evenly;
    color: #574143;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #FFEACE;
    border-radius: 30px/ 30px;

  }

  .container h3 {
    font-size: 25px;
    position: relative;
  }

  .container h3>ul {
    font-size: 15px;
    padding-left: 25px;
    padding-top: 10px;
  }

  .container a {
    color: #574143;
    text-decoration: none;
    transition: .3s ease;
  }

  .container a:hover {
    color: #D43C3C;
  }


  /* Footer */


  .footer {
    height: 100px;
  }

  #social-networks {

    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;

  }

  #social-networks i {
    font-size: 300%;
    padding: 15%;
    color: #FFEACE;
    transition: .3s ease;

  }

  #social-networks i:hover {
    color: #D43C3C;
  }



  /* Media Query: large or landscape phones (567px and up)*/
@media screen and (min-width: 567px) {

}

/* Media Query: tablets and larger (768 px and up)*/
@media screen and (min-width: 768px) {
  
  nav {
    display: flex;
    position: relative;
    width: fit-content;
    box-shadow: none;
  }
  .nav-toggle-label {
    display: none;
  }

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

  .header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10%;
    padding-bottom: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 25px;
    font-weight: 550;
  }

  .navbar a {
    font-size: 10;
    font-weight: 600;
    margin-left: 15px;
    display: block;
    position: relative;
    justify-content: space-between;
    width: fit-content;
  }
  width: fit-content;
  .nav-toggle-label {
    display: none;
}
  
  .home-content h1 {
    font-size: 40px;
    margin-top: 20px;
  }

  .home-content p {
    font-size: 20px;
    margin-bottom: 30px;
  }

}

@media screen and (min-width: 1200px) {
}